**/campaigns/V2X_Numerology_Benchmark
**/plots/results_cluster_NrMmtc_SimPerScriptCampaign_M1v4_UlTdd_Isd500_ue84_SlotShannon0_HighLambdaBeam22_Lambda
**/plots/results_intel-512_NrMmtc_SimPerScriptCampaign_SimTest_dataRateBe
